* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: whitesmoke;
  font-family: "Spartan", sans-serif;
  color: black;
}
img {
  width: 100%;
  object-fit: cover;
  flex-shrink: 0;
}
/* ****CONTAINER **** */
.container {
  width: 80%;
  margin: 2% auto 0;
}
h1 {
  text-align: center;
  margin-bottom: 30px;
}
/* ***CONTAINER-CONTENT**** */
.container-content {
  display: flex;
  flex-direction: column;
}
/* ***WEEKSBOX**** */
.weeksBox {
  max-width: 600px;
  margin: 10px auto;
  border: 1px solid rgb(22, 50, 207);
  padding: 10px 5px 10px 5px;

  display: flex;
  justify-content: start;
  column-gap: 20px;
  row-gap: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.weeksBox:hover {
  background-color: lightblue;
}
button {
  border: none;
  background-color: inherit;
  cursor: pointer;
  display: flex;
  column-gap: 20px;
}
/* ***TEXT BOX CONTENT*** */
.title-verses {
  text-align: center;
}
.heading-verses {
  max-width: 600px;
  margin: 5px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.heading-verses a {
  text-decoration: none;
}
.back-btn {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: lightblue;
  color: black;
  font-weight: bolder;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.btn-questions {
  padding: 10px;
  background-color: lightblue;
  border-radius: 8px;
  cursor: pointer;
  text-transform: uppercase;
}
.btn-questions:hover {
  background-color: #fff;
  outline: 1px solid lightblue;
  color: black;
}
.bibleLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  margin-bottom: 20px;
}
.btn {
  padding: 5px;
  display: flex;
  align-items: center;
  outline: 1px solid rgb(22, 50, 207);
  cursor: pointer;
  border-radius: 5px;
}
.btn:hover,
.btn:focus {
  color: #fff;
  background-color: lightblue;
}
/* ***TEXTBOX**** */
.textBox {
  width: 50%;
  margin: 0 auto;
  outline: 1px solid rgb(22, 50, 207);
  padding: 10px;
  border-radius: 8px;
  font-size: 24px;
}
/* ***FOOTER CONTENT*** */

/***** MODAL ******/
dailog::backdrop {
  background-color: lightblue;
}
.modal {
  width: 40%;
  margin: 0 auto;
  padding: 20px;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background: lightgray;
  color: black;
  border-radius: 8px;
  border-radius: 0.25rem;
  z-index: 10;
}
.modal-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.btn-open-modal {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: lightblue;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-style: italic;
  cursor: pointer;
}
.btn-open-modal:hover {
  background-color: #fff;
  outline: 1px solid rgb(22, 50, 207);
}
.btn-modal {
  font-size: 25px;
  font-weight: 700;
}
/* ***FOOTER *** */
.footer {
  max-width: 600px;
  margin: 20px auto;
  padding: 10px;
  outline: 1px solid rgb(22, 50, 207);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* ***MEDIA QUERIES**** */
@media only screen and (max-width: 1024px) {
  .container {
    width: 80%;
  }
  .textBox {
    width: 75%;
  }
}
@media only screen and (max-width: 768px) {
  .textBox {
    width: 95%;
  }
  .modal {
    width: 60%;
  }
}
@media only screen and (max-width: 425px) {
  .weeksBox {
    flex-direction: column;
  }
  button {
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }
  .heading-verses h1 {
    font-size: 20px;
  }
  .textBox {
    font-size: 20px;
  }
  .footer {
    justify-content: center;
    outline: none;
  }
  .footer img {
    display: none;
  }
  .modal {
    width: 80%;
  }
}
